*{
    font-family: 'Encode Sans', sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#CCC));
    background-image: -webkit-linear-gradient(top, #EEE, #CCC);
    background-image: -moz-linear-gradient(top, #EEE, #CCC);
    background-image: linear-gradient(to bottom, #EEE, #CCC); */
}


header{
    background-color: #0F218C;
}

#opciones {
    margin:20px;
}

input{
    height: 30px;
    font-size: 16px;
    margin: 10px;
    width: 90%;
}

.linea{
    margin: 0;
    width: auto;
    vertical-align: middle;
}

.labelLinea{
    display: inline-block;
    height: 50px;
    width: 80%;
}

select {
    height: 200px;
    /* font-size: 16px; */
    /* margin: 10px; */
    width: 170px;
    /* height: 100px; */
}

.Bloque{
    display: inline-block;
    padding: 0px 2px;;
    width: 12%;
}

label, select {
    display: block;
    width: 100%;
}

.otroBoton{
    background-color: #DDD;
    color: #black;
    padding: 10px 32px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: 0px;
    outline: none;
    cursor: pointer;
}

.otroBoton:hover {
    background-color: #0F21ff;
    color: white;
    cursor: pointer;
}

table {
    width: 100%;
    /* width: 1600px; */
    border-collapse: collapse;
    margin: 0 auto;
    /* overflow: scroll;     */
    /* height: 100%; */
}

#table_wrapper{
    width: 100%;
    /* height: 100%; */
    /* overflow-x: scroll; por el plugin */
}

/* #table_wrapper{
    width: 100%;
    height: 700px;
    overflow: scroll; */
    /* white-space: nowrap; */
/* } */

tr:nth-child(even) {
    background: #DDD;
}

th {
    background-color: #0F21ff;
    color: white;
    font-size: 12px;
    padding: 3px 3px;
}

td {
    font-size: 12px;
    padding: 8px 10px;
    max-width: 200px;
    word-wrap: break-word;
    /* border-left: 1px solid white; */
    /* border-right: 1px solid white; */
}

td:first-child {
    min-width: 85px;
}

td:nth-child(8),td:nth-child(9),td:nth-child(10),td:nth-child(11) {
    min-width: 250px;
}

td:nth-child(3) {
    min-width: 81px;
}
td:nth-child(5) {
    min-width: 90px;
}

td:nth-child(16) {
    min-width: 230px;
}

tr:hover {
    background-color: black; 
    color: white;
}

#cerrar {
    background-color: red;
    color: white;
    float: right;
}
#cerrar:hover {
    background-color: #CE0000;
    color: white;
}

.double-scroll{
    /* width: 400px; */
    /* width: 1600px; */
}