input {
    margin: 0px;
}
#form {
    width: 600px;
    background: #aaa;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
}

.fechaHora {
    width: auto;
    margin-top: 10px;
}

#Archivo {
    background: #eee;
    border: 1px solid black;
}

#form p, #respuesta > p {
    line-height: 32px;
    padding-left: 10px;
}
#respuesta {
    margin: 20px auto;
    width: 95%;
}
.Boton{
    background-color: #DDD;
    color: #black;
    padding: 10px 32px;
    margin: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: 0px;
    outline: none;
    cursor: pointer;
}

.active {
    background-color: #0F21ff;
    color: white;
    cursor: pointer;
}

#texto_descripcion {
    margin: 20px auto;
    width: 95%;
    text-align: center;
}

.mensaje{
    background: #eee;
    border: 1px solid black;
    padding: 10px;
    white-space: pre;
}

#opcion{
    width: 345px;
    padding: 20px;
    background-color: bisque;
    display: inline-block;
    margin: 10px;
}

#opcion > p {
    margin: 0px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 30px;
    font-size: 18px;
}

/* #opcion > img , #opcion > a > img, #opcion > label > img { */
img {
    display: inline-block;
    height: 20px;
}

.arrow{
    margin-left: 5px;
}

.arrow:hover{
    cursor: pointer;
}

.alert {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: #f44336;
    color: white;
    width: 100%;
    text-align: center;
}

.ok {
    background-color: #4CAF50;
}

.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.labelFlecha {
    display: inline;
}